@import './variables.scss';

.app {
  text-align: center;
  font-size: 10px;

  &__select {
   margin: 40px auto;
   width: 150px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
